## Conditional

In [8]:
angka = 29
print(f"{angka} lebih besar dari 30")

29 lebih besar dari 30

In [9]:
True

True

In [10]:
False

False

In [15]:
angka = 29
if False:
  print(f"{angka} lebih besar dari 30")

In [17]:
35 > 30

True

In [22]:
angka = 35
if angka > 30:
  print(f"{angka} lebih besar dari 30")
else:
  print(f"{angka} lebih kecil dari 30")

35 lebih besar dari 30

cek apakah angka yang berada di variabel `angka` adalah bilangan ganjil / genap ?

In [26]:
angka = 15

if angka%2 != 0 :
  print(f"{angka} adalah bilangan ganjil")
else:
  print(f"{angka} adalah bilangan genap")

15 adalah bilangan ganjil

In [27]:
a = 5

In [28]:
a == 5

True

In [31]:
bahasa_pemrograman = ["python", "java", "javascript", "golang"]
bahasa = "python"

if bahasa in bahasa_pemrograman:
  print(f"{bahasa} ada dalam list bahasa_pemrograman")
else:
  print(f"{bahasa} tidak ada dalam list bahasa_pemrograman")

python ada dalam list bahasa_pemrograman

In [38]:
angka = 35
if angka > 30:
  print(f"{angka} lebih besar dari 30")
elif angka == 30:
  print(f"{angka} sama dengan 30")
else:
  print(f"{angka} lebih kecil dari 30")

35 lebih besar dari 30

In [40]:
biodata = {'nama': 'Afif', 'pekerjaan':'Data Scientist', 'usia': 20}
'usia' in biodata

True

In [43]:
'Afif' in biodata.values()

True

In [49]:
angka = 35
if angka > 30:
  print(f"{angka} lebih besar dari 30")
elif angka == 30:
  print(f"{angka} sama dengan 30")
else:
  print(f"{angka} lebih kecil dari 30")

35 lebih besar dari 30

##### Nested IF

In [52]:
angka = 16

if angka%2 != 0 :
  print(f"{angka} adalah bilangan ganjil")
  if angka > 10:
    print(f"{angka} lebih besar dari 10")
  else:
    print(f"{angka} lebih kecil dari 10")
else:
  print(f"{angka} adalah bilangan genap")

16 adalah bilangan genap

In [ ]:
# [85 - 100] : A
# [70 - 85) : B
# [50 - 70) : C
# [25 - 50) : D
# [0 - 25) : E

In [55]:
nilai = -3
if nilai>= 85:
    print('Anda mendapat indeks A')
elif 70<=nilai<85:
    print('Anda mendapat indeks B')
elif 50<=nilai<70:
    print('anda mendapat indeks C')
elif 25<=nilai<50:
    print('anda mendapat indeks D')
else:
    print('anda mendapat indeks E')

anda mendapat indeks E

In [57]:
score = -4
if 85 <= score <= 100:
    result = 'A'
elif 70 <= score < 85:
    result = 'B'
elif 50 <= score < 70:
    result = 'C'
elif 25 <= score < 50:
    result = 'D'
elif 0 <= score < 25:
    result = 'E'

print(result)

NameError: ignored

In [58]:
nilai = 105
if 85 <= nilai <=100:
  print(f'{nilai} memiliki indeks A')
elif 70 <= nilai < 85:
  print(f'{nilai} memiliki indeks B')
elif 50 <= nilai < 70:
  print(f'{nilai} memiliki indeks C')
elif 25 <= nilai < 50:
  print(f'{nilai} memiliki indeks D')
else:
  print(f'{nilai} memiliki indeks E')

105 memiliki indeks E

In [59]:
nilai = -5

if nilai <= 100 and nilai >= 85:
    print("A")
elif nilai < 85 and nilai >= 70:
    print("B")
elif nilai < 70 and nilai >= 50:
    print("C")
elif nilai < 50 and nilai >= 25:
    print("D")
elif nilai < 25 and nilai >= 0:
    print("E")
else:
    print("nilai melebihi range")

nilai melebihi range

In [62]:
angka = 103
if 0 <= angka <= 100:
  if angka >= 85:
    print("A")
  elif angka >= 70:
    print("B")
  elif angka >= 50:
    print("C")
  elif angka >= 25:
    print("D")
  else:
    print("E")
else:
  print("Nilai tidak valid")

Nilai tidak valid

In [64]:
list(range(85, 100))

[85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [66]:
87.5 in range(85, 100)

False

#### Looping

In [70]:
angka = 1

In [71]:
angka = 2
print(angka)

2

In [72]:
angka = 3
print(angka)

3

In [77]:
angka = angka + 1
print(angka)

7

In [79]:
i = 0
while i < 5:
  i = i + 1
  print(f"i={i}, dalam while loop")

i=1, dalam while loop
i=2, dalam while loop
i=3, dalam while loop
i=4, dalam while loop
i=5, dalam while loop

In [80]:
i = 1
while i <= 10:
  print(f"7 x {i} = {7*i}")
  i += 1 # i = i + 1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [82]:
# nested loop (tabel perkalian)

i = 1
j = 1

while j <= 10:
  i = 1
  while i <= 10:
    print(f"{j} x {i} = {j*i}")
    i += 1
  print("*"*50)
  j += 1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**************************************************

In [83]:
# break

i = 1
while i <= 10:
  print(f"7 x {i} = {7*i}")
  i += 1 
  if i == 5:
    break

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28

In [85]:
pesanan = []
while True:
  pesan = input("Masukkan Pesanan Anda : ")
  if pesan == 'cukup':
    break
  pesanan.append(pesan)
print(pesanan)

Masukkan Pesanan Anda : mie ayam
Masukkan Pesanan Anda : nasi goreng
Masukkan Pesanan Anda : mie goreng
Masukkan Pesanan Anda : es jeruk
Masukkan Pesanan Anda : cukup
['mie ayam', 'nasi goreng', 'mie goreng', 'es jeruk']

In [91]:
# continue

i = 0
while i <= 10:
  i += 1 
  if i == 5:
    continue
  print(f"7 x {i} = {7*i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77

### For Loop

In [94]:
buah = ["pepaya", "mangga", "pisang", "jambu"]
for b in buah:
  print(f"{b} adalah item dalam list buah")

pepaya adalah item dalam list buah
mangga adalah item dalam list buah
pisang adalah item dalam list buah
jambu adalah item dalam list buah

In [104]:
i = 0 
buah = ["pepaya", "mangga", "pisang", "jambu", "apel"]
while i < len(buah):
  print(f"{buah[i]} adalah item dalam list buah")
  i += 1

pepaya adalah item dalam list buah
mangga adalah item dalam list buah
pisang adalah item dalam list buah
jambu adalah item dalam list buah
apel adalah item dalam list buah

In [103]:
for i in range(len(buah)):
  print(f"{buah[i]} adalah item dalam list buah")

pepaya adalah item dalam list buah
mangga adalah item dalam list buah
pisang adalah item dalam list buah
jambu adalah item dalam list buah
apel adalah item dalam list buah

In [107]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [108]:
# tabel perkalian 7

for i in range(1, 11):
  print(f"7 x {i} = {7*i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [109]:
for j in range(1, 11):
  for i in range(1, 11):
    print(f"{j} x {i} = {j*i}")
  print("*"*50)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**************************************************

In [110]:
for i in range(1, 11):
  if i == 5:
    break
  print(f"7 x {i} = {7*i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28

In [111]:
for i in range(1, 11):
  if i == 5:
    continue
  print(f"7 x {i} = {7*i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70